<div class="ui card">
  <div class="image">
    <img src="/dashboard/getpicture{{this}}">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
    </div>
    <div class="description">
    </div>
  </div>
</div>