{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to PictureBook
  </h1>
  <p>
    A simple app to demonstrate image upload and display
  </p>
</section>